.fullPage{
  height: calc(100vh - 96px);
}
.contact-us__info .contact-method__item {
  display: flex;
  align-items: center;
  margin-bottom: 1.25em;
}
.contact-us__info .contact-method__item svg {
  height: 2.125em;
  width: 2.125em;
  border: 1px solid #e1e1e1;
  border-radius: 999px;
  text-align: center;
  line-height: 2.125em;
  color: #000;
  padding: 10px;
  margin-right: 1.125em;
}