/* ----------- BlogPostList Styles ------------- */
.bordered{
  border: 1px solid #DBDBDB;
  border-radius: 5px;
}
.no-underline:hover{
  text-decoration: none;
}
.fa-circle-o-notch{
  font-size: 30px;
}